{% extends 'base.jinja' %}

{% block content %}
	<form class="auth-form" method="POST" novalidate>
		{% csrf_token %}
		<h2>Login</h2>

		{% for field in form %}
			<div>
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endfor %}
	<input type="submit" value="Login"/>
	<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
	</form>
{% endblock content %}
