{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href={% static '/css/index.css' %}>
	<link rel="shortcut icon" href={% static '/img/icon.png' %} type="image/x-icon">
	<title>Locklite - {% block title %}Home{% endblock title %}</title>
</head>
<body>
<div class="container">
	<img src="{% static '/img/locklite.png' %}" alt="My image">
	{% block content %}
		<p>Base</p>
	{% endblock content %}
</div>
</body>
</html>
