{% extends "index.jinja" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
	<h1>Welcome to your dashboard page !</h1>
	<p>Name : {{ name }}</p>
	<div>
		<p>email : {{ user }}</p>
	</div>
{% endblock %}