{% load custom_filters %}

<table class="datatable">
	<caption class="caption">
		<div class="content">
			<h2 class="title">{{ datatable_title }}</h2>
			<div class="buttons">
				{% if datatable_button %}
					<a class="button" href={{ datatable_button.link }}>
						<i class="fa-solid fa-plus"></i>
						{{ datatable_button.label }}
					</a>
				{% endif %}
			</div>
		</div>
	</caption>
	<thead class="headers">
	<tr class="line head">
		{% for col in datatable_columns %}
			<td class="cell header">{{ col.name }}</td>
		{% endfor %}
	</tr>
	</thead>
	<tbody class="body">
	{% for element in datatable_data %}
		<tr class="line dataline">
			{% for col in datatable_columns %}
				<td class="cell data">
					{% if col.key == 'credentials_password' %}
						<input type="password" value={{ element|get_value:col.key }}>
					{% elif col.key == 'label' %}
						<b>{{ element|get_value:col.key }}</b>
					{% else %}
						<span>{{ element|get_value:col.key }}</span>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
