{% extends 'base.jinja' %}

{% block content %}
	<form class="auth-form" method="POST" novalidate>
		{% csrf_token %}
		<h2>{{ form_title }}</h2>

		<div class="fields">
			{% for field in form %}
				<div class="field">
					<div class="content">
						{{ field.label_tag }}
						{{ field }}
					</div>
					{% if field.errors %}
						<ul class="errors">
							{% for error in field.errors %}
								<li class="error">{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		{% if form_link %}
			<p class="infos">{{ form_link.text }} <a href="{% url form_link.page %}">{{ form_link.name }}</a></p>
		{% endif %}
		<input class="button" type="submit" value="{{ form_title }}"/>
	</form>
{% endblock content %}
