{% extends "base.jinja" %}
{% block title %}Create credential{% endblock %}
{% block content %}
	<h1>Create credential</h1>
	<form action="" method="post" novalidate>
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		{{ form.as_p }}
		<input type="submit" value="Create">
	</form>
	<p><a href="{{ url('index') }}">Show credentials</a></p>
{% endblock %}
