{% set computed_width = "width: calc(100%/" ~ datatable_columns|length ~ ");" %}

<table class="datatable">
	<caption class="caption">
		<div class="content">
			<h2 class="title">{{ datatable_title }}</h2>
			<div class="buttons">
				<a class="button" href={{ datatable_actions.create }}>
					<i class="fa-solid fa-plus"></i>
					Create
				</a>
			</div>
		</div>
	</caption>
	<thead class="headers">
	<tr class="line head">
		<td class="cell header">ID</td>
		{% for col in datatable_columns %}
			<td style="{{ computed_width }}" class="cell header">
				{{ col.name }}
			</td>
		{% endfor %}
		<td class="cell header"></td>
	</tr>
	</thead>
	<tbody class="body">
	{% for element in datatable_data %}
		<tr class="line dataline">
			{% set idLine = loop.index %}
			<td class="cell data id">
				<span class="grey">{{ idLine }}</span>
			</td>
			{% for col in datatable_columns %}
				<td style="{{ computed_width }}" class="cell data">
					{% if col.key == 'credentials_password' %}
						<div class="password">
							<i class="toggle-button fa-solid fa-eye-slash" onclick="togglePassword({{ idLine }})"></i>
							<input id={{ idLine }} type="password" readonly value="{% if element.pswd_decrypted %}{{ element.pswd_decrypted }}{% endif %}">
						</div>
					{% elif col.key == 'label' %}
						<b>{{ element.label }}</b>
					{% else %}
						<span>{{ element.credentials_email }}</span>
					{% endif %}
				</td>
			{% endfor %}
			<td class="cell data">
				<div class="buttons">
					<a href="{{ datatable_actions.edit }}/{{ element.id }}">
						<i class="fa-solid fa-pen"></i>
					</a>
					<a href={{ datatable_actions.delete }}>
						<i class="fa-solid fa-trash"></i>
					</a>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<script src={{ static('/js/togglePassword.js') }}></script>
