.button {
	width: 100%;
	color: white;
	background-color: #157ee7;
	font-size: 14px;
	padding: 10px 40px;
	border: 1px solid #157ee7;
	border-radius: 2px;
	cursor: pointer;
}

.button:hover {
	color: #157ee7;
	background-color: white;
}
