.datatable {
	width: 50%;
	border-collapse: collapse;
}

/* ----------- CAPTION ----------- */

.datatable .caption .content {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

/* BUTTON */
.datatable .caption .content .buttons .button {
	text-decoration: none;
	background-color: black;
	color: white;
	border-color: black;
	padding: 8px 15px;
	border-radius: 7px;
}

.datatable .caption .content .buttons .button:hover {
	background-color: white;
	color: black;
}

/* ----------- HEADERS ----------- */

.datatable .headers {
	text-transform: uppercase;
	font-size: 12px;
	color: grey;
}

.datatable .headers .header {
	border-bottom: 2px solid lightgrey;
}

/* ----------- LINES ----------- */

.datatable .line.head {
	height: 50px;
}

.datatable .line.dataline {
	height: 50px;
}

/* ICONS */
.datatable .line.dataline i {
	color: grey;
}

/* ----------- CELLS ----------- */

.datatable .line .cell.data {
	font-size: 14px;
	border-bottom: 1px solid lightgrey;
}

.datatable .line .cell.data b {
	font-weight: 500;
}

.datatable .line .cell.data input {
	outline: none;
	border: none;
	background: none;
	user-select: text;
}

.datatable .line .cell.data .password {
	display: flex;
	align-items: center;
	gap: 5px;
}

.datatable .line .cell.data .password .toggle-button {
	width: 18px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

/* BUTTONS */
.datatable .line .cell.data .buttons {
	display: flex;
	gap: 20px;
}

.datatable .line .cell.data .buttons a {
	text-decoration: none;
}
