.fields {
	padding: 20px 0;
}

.fields .field {
	padding: 15px 0;
	border-bottom: solid 1px lightgrey;
}

.fields .field .content {
	display: flex;
	align-items: center;
	gap: 5px;
}

.fields .field label {
	font-size: 14px;
}
.fields .field input {
	outline: none;
	border: none;
}
.fields .field input::placeholder {
	color: grey;
}

.fields .field .errors {
	padding: 0 12px;
}
.fields .field .errors .error {
	font-size: 12px;
	padding: 2px 0;
	color: red;
}
